
.App-header {
  background-color: #46db91;
  min-height: 100vh;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: auto;
  gap: 3rem;
}

.img {
  border-radius: 50%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.titulo{
  text-align: center;
}


